@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

:root {
  --color-primary-100: #FEE00D;
  --color-primary-300: #FFCD08;
  --color-primary-500: #FEB412;
  --color-primary-700: #FF9A0D;
  --color-primary-900: #DD8008;
  --color-secondary-100: #9F1D35;
  --color-secondary-300: #801D35;
  --color-secondary-500: #611D35;
  --color-secondary-700: #421D35;
  --color-secondary-900: #231D35;
  --color-background: #FFFFFF;
  --color-foreground: #060606;
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  overflow-x: hidden;
}

h1, .h1 {
  font-size: 2.8rem;
  font-weight: 700;
}

h2, .h2 {
  font-size: 2.4em;
  font-weight: 700;
}

h3, .h3 {
  font-size: 2em;
  font-weight: 700;
}

h4, .h4 {
  font-size: 1.6em;
  font-weight: 700;
}

h5, .h5 {
  font-size: 1.2em;
  font-weight: 700;
}

h6, .h6 {
  font-size: 1em;
  font-weight: 700;
}

@keyframes moveAndHide {
  0% {
    transform: scale(1.2) translate(-15px);
    opacity: 1;
    z-index: 1;
  }
  50% {
    opacity: 1;
    z-index: 1;
  }
  50.001% {
    opacity: 1;
    z-index: 2;
  }
  60% {
    transform: scale(1.2) translate(15px);
    opacity: 0;
    z-index: 2;
  }
  70%, 100% {
    transform: scale(1.2) translate(-15px);
    z-index: 2;
    opacity: 0;
  }
}